PORT=5001
AWS_REGION=eu-north-1

COGNITO_USER_POOL_ID=PUT_LATER
COGNITO_CLIENT_ID=PUT_LATER

USERS_TABLE=Users
TEAMS_TABLE=Teams
PROJECTS_TABLE=Projects
TASKS_TABLE=Tasks
COMMENTS_TABLE=Comments
ACTIVITY_LOG_TABLE=ActivityLog

TASKS_TEAM_INDEX=teamId-index
TASKS_ASSIGNEE_INDEX=assigneeId-index
COMMENTS_TASK_INDEX=taskId-index

S3_ORIGINAL_BUCKET=mini-jira-original-images
S3_RESIZED_BUCKET=mini-jira-resized-images

TASK_ASSIGNMENT_TOPIC_ARN=PUT_LATER
TASK_ASSIGNMENT_QUEUE_URL=PUT_LATER